# Moonwave
build

# Wally Dependencies
Packages

# Hide env
.env

# Roblox place files
*places
*.rbxlx
*.rbxl
*.rbxlx.lock
*.rbxl.lock
# Rojo
sourcemap.json

# Test files
*.test.model.json
*.test.schema.json

# Asphalt
asphalt.lock.toml